.d-flex,
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-start,
.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.align-items-center,.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}
h3 {
  font-size: 26px;
  font-weight: bold;
}
h4 {
  font-size: 22px;
  font-weight: bold;
}
h5 {
  font-size: 18px;
  font-weight: bold;
}

input[type='text'] {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  color: black;
}

a {
  transition: 3s;
  &:hover {
    opacity: 0.7;
    transition: 3s;
  }
}

.inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

.listNotes {
  &__item {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      position: absolute;
      content: '※';
      left: 0;
    }
  }
}
