header {
  background-color: black;
  padding: 30px 30px 0;
  h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
  }
}
.nav {
  &--sp {
    display: none;
  }
  &__list {
    &--option {
      color: white;
    }
    .listItem {
      width: auto;
      .link-active {
        position: relative;
        &::after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          border-bottom: 5px solid #fff;
          width: 100%;
        }
      }
      a {
        display: block;
        padding: 20px 10px;
        position: relative;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  header {
    padding: 30px 0 0;
    h1 {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
  .nav {
    display: none;
    position: relative;
    &--sp {
      display: block;
    }
    .swiciNav {
      cursor: pointer;
      display: inline-block;
      padding: 20px 10px;
      &--option {
        font-size: 18px;
        color: white;
      }
    }
    .navArea {
      transition: 1s;
      transform: translate(-110vw, 0);
      position: absolute;
      top: 60px;
      width: 100%;
      background-color: black;
      &.active {
        transform: translate(0, 0);
      }
    }
    &__list {
      flex-wrap: wrap;
      .listItem {
        width: 100%;
        border-bottom: 1px solid gray;
        &:last-child {
          border-bottom: none;
        }
        .link-active {
          position: relative;
          background-color: #d2d2d2;
          color: black;
          &::after {
            position: relative;
            content: none;
            bottom: none;
            left: none;
            border-bottom: none;
            width: 100%;
          }
        }
        a {
          padding: 20px 5px;
        }
      }
    }
  }
}
